# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace

# Database
*.sqlite

# Logs
logs/
*.log

# Dependency files
pip-log.txt
pip-delete-this-directory.txt

# Others
.DS_Store
Thumbs.db

# ML Models
ml_data/
ml_models/